/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Hanken Grotesk', sans-serif;
}

body {
  background: #16161a;
  color: #fffffe;
}

a {
  text-decoration: none;
  color: #94a1b2;
}


/* site header */
.logo {
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.navigation {
  width: 100%;
  /* border-bottom: 1px solid #72757e; */
}

.navigation_container {
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation_container nav ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  font-size: 1.4rem;

}

/* type container */
.type_container {
  width: 100%;
  max-width: 500px;
  margin: 100px auto;
}

.type_header {
  display: flex;
  justify-content: space-between;
  font-size: 1.7rem;
}

.type_start {
  background: #3b3b45;
  padding: 1px 5px;
  border-radius: 5px;
  font-size: 1.4rem;
}

.type_gameover {
  color: #EB455F;
}

#input {
  width: 100%;
  max-width: 500px;
  border: 3px solid #3b3b45;
  background: none;
  color: #fffffe;
  font-size: 2rem;
  font-family: 'Hanken Grotesk', sans-serif;
  padding: 20px;
  margin: 30px auto 0 auto;
  display: block;
}

#input:focus {
  outline: none;
}

::placeholder {
  color: #5e5e6e;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #5e5e6e;
}

::-ms-input-placeholder {
  color: #5e5e6e;
}

.past_words {
  font-size: 1.4rem;
  margin-top: 0px;
  color: #75758a;
  height: 20px;
}

/* score container */
.score_container {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: 700;
}

.score_points {
  color: #3C6255;
}

.score_wpm {
  color: #579BB1;
}

/* share container */
.share_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.2rem;
}

.button_share--twitter:hover,
.button_share--twitter:active {
  color: #1da1f2;
}

.button_share--facebook:hover,
.button_share--facebook:active {
  color: #1877f2;
}